:root {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    min-height: 100vh;
    margin: 0;
    background-color: #EEEEEE;
}

header {
    background-color: #333333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    padding: 0 1rem;
}

.project-title {
    padding: 0 1rem;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3/ span 1;
    grid-column: 1 / span 3;
    background-color: #333333;
    color: white;
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

main {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 83vh;
}
.project {
    grid-column: 1 / span 1;
    grid-row: 1/ span 1;
}

.project:hover {
    background-color: rgb(241, 241, 241);
}

.content-toolbar {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;

}

#sidebar-content {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#main-content {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: grid;
}

.todo-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.295);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0rem 1rem 1rem 1rem;
}

.todo-card div {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.25rem;
    padding: 0px 1rem;
}

.todo-card div.todo-complete {
    flex-direction: row-reverse ;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}

.todo-card div:has(h3, p):hover {
    background-color: #BBBBBB;
}

.todo-card h3,
.todo-card p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project>h3:empty::after,
.todo-card h3:empty::after {
    content: "Untitled";
}

#sidebar-content div {
    padding: 0rem 1rem;
}

.project {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.project h3 {
    margin-right: auto;
    width: 100%;
}

.project.selected {
    background-color: #888888;
    color: #EEEEEE;
}

.add-symbol {
    margin: 1rem;
    cursor: pointer;
    background-image: url('./modules/objects/assets/add.svg');
    background-repeat: no-repeat;
    color: transparent;
}

.delete-symbol {
    cursor: pointer;
    background-image: url('./modules/objects/assets/delete.svg');
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
}

.delete-button {
    width: 1.4rem;
    height: 1.4rem;
    border: none;
    background-color: transparent;
}

input {
    height: 100%;
    border: none;
    color: inherit;
    background-color: inherit;
}

text:focus,
input:focus {
    outline: none;

}