:root {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: 1/ span 1;
    padding: 1rem;
}

nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-left: auto;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3/ span 1;
}